.abc square{

    margin: 0;
    padding: 0;
    
    
}
.Square{
    height: 100px;
    width: 100px;
    background-color: aqua;
}
.circle{
   border-radius: 60%;
   height: 100px;
   width: 150px;
   background-color: rgb(23, 56, 56);

}
.rectangle{
    height: 100px;
    width: 150px;
    background-color: rgb(27, 113, 113);
}
.triangle{
    height: 100px;
    width: 100px;;
    background-color: bisque;
    /* border-radius:60% ; */
    border-left: 50spx transparent;
    border-right: 50px transparent ;
    border-bottom: 100px solid rgb(168, 53, 53) ;
    
}